.track-form .spinner {
  animation: spinner 1s infinite linear;
  margin-left: 10px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}
