@media (min-width: 1024px) {
  .slide-image img {
    max-height: 400px;
    max-width: calc(100% - 20px);
  }
}

@media (max-width: 1023px) {
  .slide-image img {
    max-height: 300px;
    max-width: calc(100% - 20px);
  }
}
.slick-slide {
  border-radius: 15px;
}
.slick-slide:first-of-type {
  margin-left: 10px;
}
.slick-slide img {
  border-radius: 15px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(37, 35, 35, 0.8);
  padding: 10px;
  line-height: 1;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.slick-arrow:hover {
  background-color: rgb(16, 15, 15);
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}
