.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img {
  margin-right: 20px;
  width: 193px;
  height: 121px;
}

.header-name {
  font-family: 'Post No Bills Jaffna SemiBold', sans-serif;
  font-weight: 600;
  font-size: 49px;
  display: inline;
}
