.track-record-title {
  font-family: 'Palanquin', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin: 20px;
  text-align: center;
}

.track-record-description {
  font-family: 'Palanquin', sans-serif;
  text-align: center;
  margin-left: 25px;
  font-size: 21px;
  font-weight: 500;
  line-height: 33px;
  margin: 30px;
}

.track-record-price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Palanquin', sans-serif;
  font-size: 18px;
  margin-top: 25px;
  margin-left: 25px;
  line-height: 32px;
  color: #8b0000;
}

.Link,
.activeLink {
  text-decoration: none;
}
.activeLink {
  font-weight: bold;
}

.horizontal-divider {
  border: none;
  height: 2px;
  background-color: #ccc;
  width: 50%;
  margin: 20px auto;
}

.app-track-record,
.track-record-price {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.app-track-record button {
  background-color: #8b0000;
  position: center;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 40%;
  transition: background-color 0.3s;
}

.app-track-record button:hover {
  background-color: #5c0202;
}

.app-track-record,
.track-record-price {
  margin: 0 10px;
}
.track-record-price a {
  color: inherit;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

/* mobile */
@media screen and (max-width: 767px) {
  .studio-name {
    flex-direction: row;
    align-items: center;
    font-size: 48px;
    margin-top: 20px;
  }

  .studio-name-one {
    margin: 0;
    margin-right: 10px;
  }

  .track-record-title {
    font-size: 28px;
    text-align: center;
    margin: 15px;
  }

  .title-track-record {
    margin-left: 20px;
    font-size: 25px;
    line-height: 60px;
    padding-bottom: 20px;
  }

  .track-record-description {
    margin-left: 20px;
    font-size: 16px;
    line-height: 28px;
    padding-top: 15px;
  }
  .track-record-img {
    max-width: 90%;
    max-height: 250px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
  }

  .horizontal-divider {
    width: 80%;
    margin: 15px auto;
  }

  .app-track-record,
  .track-record-price {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 15px auto;
  }
  .track-record-price {
    font-size: 16px;
    line-height: 26px;
  }

  .track-record-price a {
    color: inherit;
  }

  .app-track-record button {
    font-size: 16px;
    padding: 10px 15px;
    width: 75%;
    margin: 0 auto;
  }
}
