.page-nav,
.app-track-record button,
.show-more-button,
.track-record-description {
  font-family: 'Palanquin', sans-serif;
}

.track-record-title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px auto;
  max-width: calc(100% - 30px);
  padding: 20px;
}

.track-record-description {
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  line-height: 33px;
  color: #2f2f2f;
  margin: 30px auto;
  max-width: calc(100% - 40px);
}

.track-record-price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 21px;
  line-height: 32px;
  color: #2f2f2f;
  padding: 15px;
  margin: 25px auto;
  max-width: calc(100% - 30px);
}
.app-track-record,
.track-record-price {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: calc(100% - 30px);
}

.Link,
.activeLink {
  text-decoration: none;
  color: #2f2f2f;
}

.activeLink {
  font-weight: bold;
}

.horizontal-divider {
  border: none;
  height: 2px;
  background-color: #ccc;
  width: 80%;
  margin: 20px auto;
  max-width: 100%;
}

.app-track-record button {
  background-color: #8b0000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 30%;
  transition: background-color 0.3s;
  font-size: 21px;
}

.app-track-record button:hover {
  background-color: #5c0202;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  margin: 0 auto;
  overflow-x: auto;
  width: 70%;
}

.page-nav a {
  color: #2f2f2f;
  margin: 0 5px;
  text-decoration: none;
  text-align: center;
}

.page-nav a:hover {
  color: black;
  text-decoration: none;
}

.udarnie-container {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  max-width: 100%;
}

.udarnie-description {
  font-size: 21px;
  font-weight: 500;
  line-height: 33px;
  text-align: justify;
  margin: 0 auto;
  max-width: 100%;
  color: #2f2f2f;
}

.show-more-button {
  background: none;
  border: none;
  color: #2f2f2f;
  cursor: pointer;
  text-decoration: underline;
  font-size: 18px;
}

.additional-content {
  margin-top: 20px;
}

/* mobile */
@media screen and (max-width: 767px) {
  .studio-name {
    flex-direction: row;
    align-items: center;
    font-size: 48px;
    margin-top: 20px;
  }

  .studio-name-one {
    margin: 0;
    margin-right: 10px;
  }

  .track-record-title {
    font-size: 28px;
    text-align: center;
    margin: 15px auto;
    max-width: calc(100% - 30px);
  }

  .title-track-record {
    margin-left: 20px;
    font-size: 25px;
    line-height: 60px;
    padding-bottom: 20px;
  }

  .track-record-description {
    font-size: 16px;
    line-height: 28px;
    padding-top: 10px;
  }

  .track-record-img {
    max-width: 90%;
    max-height: 250px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
  }

  .horizontal-divider {
    width: 80%;
    margin: 15px auto;
  }

  .app-track-record,
  .track-record-price {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 15px auto;
    max-width: calc(100% - 30px);
  }

  .track-record-price {
    font-size: 16px;
    line-height: 26px;
  }

  .track-record-price a {
    color: inherit;
  }

  .app-track-record button {
    font-size: 16px;
    padding: 10px 15px;
    width: 75%;
    margin: 0 auto;
  }

  .page-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden; /* Скрываем содержимое, выходящее за границы по горизонтали */
  }
  .page-nav a {
    color: #2f2f2f;
    flex-grow: 1;
    white-space: nowrap;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    width: 100px;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .udarnie-img img {
    max-width: 50%;
  }

  .page-nav {
    font-size: 12px;
    margin: 0 5px;
  }
}
