.header-container {
  display: flex;
  align-items: center;
}

.header-img {
  width: 193px;
  height: 121px;
  margin-right: 10px;
}

.header-name {
  font-family: 'Post No Bills Jaffna SemiBold', sans-serif;
  font-weight: 600;
  font-size: 49px;
}

hr {
  background-color: #d0d0d0;
  border: none;
  height: 2px;
}
nav {
  display: flex;

  padding: 10px;
  align-items: center;
  justify-content: center;
}

.studio-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Palanquin', sans-serif;
  font-weight: 700px;
  font-size: 96px;
}

.studio-name-one {
  margin: 10px;
  margin-left: 55px;
  margin-right: 35px;
  color: #8b0000;
}

.Link,
.activeLink {
  color: #333;
  background-color: #ccc;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.activeLink {
  background-color: #c9bcbc; /* Более темный серый фон для активной ссылки */
}

.Link:hover {
  background-color: #aaa; /* Чуть светлее серый фон при наведении */
}

.Link:last-child {
  margin-right: 0; /* Убираем отступ справа у последней ссылки */
}
