.header-container {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}

.header-img {
  margin-right: 20px; /* Добавляем отступ между логотипом и названием */
  width: 193px;
  height: 121px;
}

.header-name {
  font-family: 'Post No Bills Jaffna SemiBold', sans-serif;
  font-weight: 600;
  font-size: 49px;
}

hr {
  background-color: #d0d0d0;
  border: none;
  height: 2px;
}

.studio-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Palanquin', sans-serif;
  font-weight: 700px;
  font-size: 96px;
}

.studio-name-one {
  margin: 10px;
  margin-left: 55px;
  margin-right: 35px;
  color: #8b0000;
}

nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.Link,
.activeLink {
  color: #555454;
  font-family: 'Palanquin', sans-serif;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.activeLink {
  border-bottom: 2px solid green; /* Линия под текстом выбранной ссылки */
}

.Link:hover {
  border-bottom: 2px solid black; /* Линия под текстом ссылки */
}

.Link:last-child {
  margin-right: 0; /* Убираем отступ справа у последней ссылки */
}

nav a {
  text-decoration: none;
  color: #007bff;
  padding: 5px 10px;
  border-radius: 5px;
}

nav a:hover {
  border-bottom: 2px solid black; /* Линия под текстом ссылки */
}
